.alineacion {
    overflow-x: auto;
    margin: 20px 0 20px 0;
}

.formacion_equipo { /* Será el campo donde se coloquen los jugadores, tendrá siempre 7 columnas y 4,5 o 6 filas */
    margin: 0 auto;
    padding: 10px;
    width: 370px; /* El campo siempre tendrá las mismas dimensiones */
    min-height: 500px;
    background-image: url(../images/campoFutbol.png);
    background-size: 100% 100%;
    display: grid;
    align-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(7, 50px);
}

.formacion_equipo div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formacion_equipo img, .jugadores_suplentes img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.formacion_equipo p, .jugadores_suplentes p {
    font-size: 8pt;
    text-align: center;
    font-weight: bold;
    min-height: 30px;
    width: 100%;
}

/* Página de plantillas */
.seccion_plantilla {
    width: 90%;
    text-align: center;
    margin-bottom: 40px;
}

.jugadores_suplentes {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.jugadores_suplentes div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    padding: 5px;
}

.jugadores_suplentes p {
    color: var(--cuarto_color);
}

.ocultarJugador, .intercambiarJugador {
    opacity: 0.5;
}

.dentroJugador {
    transform: scale(1.05);
}

.titulo_plantilla {
    width: 100%;
    max-width: 400px;
    margin: 20px;
    text-align: center;
}

.formacion {
    min-width: auto;
    width: 120px;
    max-width: auto;
}

.datos_plantilla p {
    color: var(--cuarto_color);
    margin: 10px;
    font-weight: bold;
    font-size: 13pt;
}

.datos_plantilla p:nth-of-type(2) {
    text-align: center;
}

.datos_plantilla p:first-of-type {
    font-size: 15pt;
    text-align: center;
}

/* Estilos de la página de mis plantillas */

.plantillas {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mi_plantilla {
    width: 230px;
    height: 320px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 0 10px var(--primer_color);
    border-radius: 20px;
}

.mi_plantilla a {
    height: 100%;
    text-decoration: none;
    color: var(--primer_color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mi_plantilla img {
    width: 130px;
    margin: 10px;

}

.mi_plantilla p {
    width: 100%;
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
    overflow: hidden;
    /* Las siguientes líneas son para que en la página de plantillas usuarios se vean 3 puntos al final de la cuarta línea si el texto ocupa mucho*/
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    max-height: calc(1.3em * 4);
}

.mi_plantilla div:first-of-type p {
    height: 100px;
}

.mi_plantilla a div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mi_plantilla a div:last-of-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.formacion_equipo a {
    color: var(--primer_color);
}


/* 
        Formaciones

    Se colocan todos usando el sigueinte sistema de clases: 

    // Ejemplo con la 4-3-3
    //  1  -  jugador_1_1
    //  4  -  jugador_2_1,  jugador_2_2,  jugador_2_3,  jugador_2_4
    //  3  -  jugador_3_1,  jugador_3_2,  jugador_3_3
    //  3  -  jugador_4_1,  jugador_4_2,  jugador_4_3
*/

/*Bien formada - Comprobada*/
.formacion_3-1-4-2 .jugador_1_1 { grid-area: 5 / 4 / 6 / 5; }
.formacion_3-1-4-2 .jugador_2_1 { grid-area: 4 / 2 / 5 / 3; }
.formacion_3-1-4-2 .jugador_2_2 { grid-area: 4 / 4 / 5 / 5; }
.formacion_3-1-4-2 .jugador_2_3 { grid-area: 4 / 6 / 5 / 7; }
.formacion_3-1-4-2 .jugador_3_1 { grid-area: 3 / 4 / 4 / 5; }
.formacion_3-1-4-2 .jugador_4_1 { grid-area: 2 / 1 / 3 / 2; }
.formacion_3-1-4-2 .jugador_4_2 { grid-area: 2 / 3 / 3 / 4; }
.formacion_3-1-4-2 .jugador_4_3 { grid-area: 2 / 5 / 3 / 6; }
.formacion_3-1-4-2 .jugador_4_4 { grid-area: 2 / 7 / 3 / 8; }
.formacion_3-1-4-2 .jugador_5_1 { grid-area: 1 / 3 / 2 / 4; }
.formacion_3-1-4-2 .jugador_5_2 { grid-area: 1 / 5 / 2 / 6; }


/*Bien formada - Comprobada*/
.formacion_3-4-1-2 .jugador_1_1 { grid-area: 5 / 4 / 6 / 5; }
.formacion_3-4-1-2 .jugador_2_1 { grid-area: 4 / 2 / 5 / 3; }
.formacion_3-4-1-2 .jugador_2_2 { grid-area: 4 / 4 / 5 / 5; }
.formacion_3-4-1-2 .jugador_2_3 { grid-area: 4 / 6 / 5 / 7; }
.formacion_3-4-1-2 .jugador_3_1 { grid-area: 3 / 1 / 4 / 2; }
.formacion_3-4-1-2 .jugador_3_2 { grid-area: 3 / 3 / 4 / 4; }
.formacion_3-4-1-2 .jugador_3_3 { grid-area: 3 / 5 / 4 / 6; }
.formacion_3-4-1-2 .jugador_3_4 { grid-area: 3 / 7 / 4 / 8; }
.formacion_3-4-1-2 .jugador_4_1 { grid-area: 2 / 4 / 3 / 5; }
.formacion_3-4-1-2 .jugador_5_1 { grid-area: 1 / 2 / 2 / 3; }
.formacion_3-4-1-2 .jugador_5_2 { grid-area: 1 / 6 / 2 / 7; }


/*Bien formada - Comprobada*/
.formacion_3-4-2-1 .jugador_1_1 { grid-area: 5 / 4 / 6 / 5; }
.formacion_3-4-2-1 .jugador_2_1 { grid-area: 4 / 2 / 5 / 3; }
.formacion_3-4-2-1 .jugador_2_2 { grid-area: 4 / 4 / 5 / 5; }
.formacion_3-4-2-1 .jugador_2_3 { grid-area: 4 / 6 / 5 / 7; }
.formacion_3-4-2-1 .jugador_3_1 { grid-area: 3 / 1 / 4 / 2; }
.formacion_3-4-2-1 .jugador_3_2 { grid-area: 3 / 3 / 4 / 4; }
.formacion_3-4-2-1 .jugador_3_3 { grid-area: 3 / 5 / 4 / 6; }
.formacion_3-4-2-1 .jugador_3_4 { grid-area: 3 / 7 / 4 / 8; }
.formacion_3-4-2-1 .jugador_4_1 { grid-area: 2 / 2 / 3 / 3; }
.formacion_3-4-2-1 .jugador_4_2 { grid-area: 2 / 6 / 3 / 7; }
.formacion_3-4-2-1 .jugador_5_1 { grid-area: 1 / 4 / 2 / 5; }


/*Bien formada - Comprobada*/
.formacion_3-4-3 .jugador_1_1 { grid-area: 4 / 4 / 5 / 5; }
.formacion_3-4-3 .jugador_2_1 { grid-area: 3 / 2 / 4 / 3; }
.formacion_3-4-3 .jugador_2_2 { grid-area: 3 / 4 / 4 / 5; }
.formacion_3-4-3 .jugador_2_3 { grid-area: 3 / 6 / 4 / 7; }
.formacion_3-4-3 .jugador_3_1 { grid-area: 2 / 1 / 3 / 2; }
.formacion_3-4-3 .jugador_3_2 { grid-area: 2 / 3 / 3 / 4; }
.formacion_3-4-3 .jugador_3_3 { grid-area: 2 / 5 / 3 / 6; }
.formacion_3-4-3 .jugador_3_4 { grid-area: 2 / 7 / 3 / 8; }
.formacion_3-4-3 .jugador_4_1 { grid-area: 1 / 2 / 2 / 3; }
.formacion_3-4-3 .jugador_4_2 { grid-area: 1 / 4 / 2 / 5; }
.formacion_3-4-3 .jugador_4_3 { grid-area: 1 / 6 / 2 / 7; }


/*Bien formada - Comprobada*/
.formacion_3-5-1-1 .jugador_1_1 { grid-area: 5 / 4 / 6 / 5; }
.formacion_3-5-1-1 .jugador_2_1 { grid-area: 4 / 2 / 5 / 3; }
.formacion_3-5-1-1 .jugador_2_2 { grid-area: 4 / 4 / 5 / 5; }
.formacion_3-5-1-1 .jugador_2_3 { grid-area: 4 / 6 / 5 / 7; }
.formacion_3-5-1-1 .jugador_3_1 { grid-area: 3 / 1 / 4 / 2; }
.formacion_3-5-1-1 .jugador_3_2 { grid-area: 3 / 3 / 4 / 4; }
.formacion_3-5-1-1 .jugador_3_3 { grid-area: 3 / 4 / 4 / 5; }
.formacion_3-5-1-1 .jugador_3_4 { grid-area: 3 / 5 / 4 / 6; }
.formacion_3-5-1-1 .jugador_3_5 { grid-area: 3 / 7 / 4 / 8; }
.formacion_3-5-1-1 .jugador_4_1 { grid-area: 2 / 4 / 3 / 5; }
.formacion_3-5-1-1 .jugador_5_1 { grid-area: 1 / 4 / 2 / 5; }


/*Bien formada - Comprobada*/
.formacion_3-5-2 .jugador_1_1 { grid-area: 4 / 4 / 5 / 5; }
.formacion_3-5-2 .jugador_2_1 { grid-area: 3 / 2 / 4 / 3; }
.formacion_3-5-2 .jugador_2_2 { grid-area: 3 / 4 / 4 / 5; }
.formacion_3-5-2 .jugador_2_3 { grid-area: 3 / 6 / 4 / 7; }
.formacion_3-5-2 .jugador_3_1 { grid-area: 2 / 1 / 3 / 2; }
.formacion_3-5-2 .jugador_3_2 { grid-area: 2 / 3 / 3 / 4; }
.formacion_3-5-2 .jugador_3_3 { grid-area: 2 / 4 / 3 / 5; }
.formacion_3-5-2 .jugador_3_4 { grid-area: 2 / 5 / 3 / 6; }
.formacion_3-5-2 .jugador_3_5 { grid-area: 2 / 7 / 3 / 8; }
.formacion_3-5-2 .jugador_4_1 { grid-area: 1 / 3 / 2 / 4; }
.formacion_3-5-2 .jugador_4_2 { grid-area: 1 / 5 / 2 / 6; }


/*Bien formada - Comprobada*/
.formacion_3-6-1 .jugador_1_1 { grid-area: 4 / 4 / 5 / 5; }
.formacion_3-6-1 .jugador_2_1 { grid-area: 3 / 2 / 4 / 3; }
.formacion_3-6-1 .jugador_2_2 { grid-area: 3 / 4 / 4 / 5; }
.formacion_3-6-1 .jugador_2_3 { grid-area: 3 / 6 / 4 / 7; }
.formacion_3-6-1 .jugador_3_1 { grid-area: 2 / 1 / 3 / 2; }
.formacion_3-6-1 .jugador_3_2 { grid-area: 2 / 2 / 3 / 3; }
.formacion_3-6-1 .jugador_3_3 { grid-area: 2 / 3 / 3 / 4; }
.formacion_3-6-1 .jugador_3_4 { grid-area: 2 / 5 / 3 / 6; }
.formacion_3-6-1 .jugador_3_5 { grid-area: 2 / 6 / 3 / 7; }
.formacion_3-6-1 .jugador_3_6 { grid-area: 2 / 7 / 3 / 8; }
.formacion_3-6-1 .jugador_4_1 { grid-area: 1 / 4 / 2 / 5; }


/*Bien formada - Comprobada*/
.formacion_4-1-2-1-2 .jugador_1_1 { grid-area: 6 / 4 / 7 / 5; }
.formacion_4-1-2-1-2 .jugador_2_1 { grid-area: 5 / 1 / 6 / 2; }
.formacion_4-1-2-1-2 .jugador_2_2 { grid-area: 5 / 3 / 6 / 4; }
.formacion_4-1-2-1-2 .jugador_2_3 { grid-area: 5 / 5 / 6 / 6; }
.formacion_4-1-2-1-2 .jugador_2_4 { grid-area: 5 / 7 / 6 / 8; }
.formacion_4-1-2-1-2 .jugador_3_1 { grid-area: 4 / 4 / 5 / 5; }
.formacion_4-1-2-1-2 .jugador_4_1 { grid-area: 3 / 2 / 4 / 3; }
.formacion_4-1-2-1-2 .jugador_4_2 { grid-area: 3 / 6 / 4 / 7; }
.formacion_4-1-2-1-2 .jugador_5_1 { grid-area: 2 / 4 / 3 / 5; }
.formacion_4-1-2-1-2 .jugador_6_1 { grid-area: 1 / 2 / 2 / 3; }
.formacion_4-1-2-1-2 .jugador_6_2 { grid-area: 1 / 6 / 2 / 7; }


/*Bien formada - Comprobada*/
.formacion_4-1-3-1-1 .jugador_1_1 { grid-area: 6 / 4 / 7 / 5; }
.formacion_4-1-3-1-1 .jugador_2_1 { grid-area: 5 / 1 / 6 / 2; }
.formacion_4-1-3-1-1 .jugador_2_2 { grid-area: 5 / 3 / 6 / 4; }
.formacion_4-1-3-1-1 .jugador_2_3 { grid-area: 5 / 5 / 6 / 6; }
.formacion_4-1-3-1-1 .jugador_2_4 { grid-area: 5 / 7 / 6 / 8; }
.formacion_4-1-3-1-1 .jugador_3_1 { grid-area: 4 / 4 / 5 / 5; }
.formacion_4-1-3-1-1 .jugador_4_1 { grid-area: 3 / 2 / 4 / 3; }
.formacion_4-1-3-1-1 .jugador_4_2 { grid-area: 3 / 4 / 4 / 5; }
.formacion_4-1-3-1-1 .jugador_4_3 { grid-area: 3 / 6 / 4 / 7; }
.formacion_4-1-3-1-1 .jugador_5_1 { grid-area: 2 / 4 / 3 / 5; }
.formacion_4-1-3-1-1 .jugador_6_1 { grid-area: 1 / 4 / 2 / 5; }


/*Bien formada - Comprobada*/
.formacion_4-1-3-2 .jugador_1_1 { grid-area: 5 / 4 / 6 / 5; }
.formacion_4-1-3-2 .jugador_2_1 { grid-area: 4 / 1 / 5 / 2; }
.formacion_4-1-3-2 .jugador_2_2 { grid-area: 4 / 3 / 5 / 4; }
.formacion_4-1-3-2 .jugador_2_3 { grid-area: 4 / 5 / 5 / 6; }
.formacion_4-1-3-2 .jugador_2_4 { grid-area: 4 / 7 / 5 / 8; }
.formacion_4-1-3-2 .jugador_3_1 { grid-area: 3 / 4 / 4 / 5; }
.formacion_4-1-3-2 .jugador_4_1 { grid-area: 2 / 2 / 3 / 3; }
.formacion_4-1-3-2 .jugador_4_2 { grid-area: 2 / 4 / 3 / 5; }
.formacion_4-1-3-2 .jugador_4_3 { grid-area: 2 / 6 / 3 / 7; }
.formacion_4-1-3-2 .jugador_5_1 { grid-area: 1 / 3 / 2 / 4; }
.formacion_4-1-3-2 .jugador_5_2 { grid-area: 1 / 5 / 2 / 6; }



/*Bien formada - Comprobada*/
.formacion_4-1-4-1 .jugador_1_1 { grid-area: 5 / 4 / 6 / 5; }
.formacion_4-1-4-1 .jugador_2_1 { grid-area: 4 / 1 / 5 / 2; }
.formacion_4-1-4-1 .jugador_2_2 { grid-area: 4 / 3 / 5 / 4; }
.formacion_4-1-4-1 .jugador_2_3 { grid-area: 4 / 5 / 5 / 6; }
.formacion_4-1-4-1 .jugador_2_4 { grid-area: 4 / 7 / 5 / 8; }
.formacion_4-1-4-1 .jugador_3_1 { grid-area: 3 / 4 / 4 / 5; }
.formacion_4-1-4-1 .jugador_4_1 { grid-area: 2 / 1 / 3 / 2; }
.formacion_4-1-4-1 .jugador_4_2 { grid-area: 2 / 3 / 3 / 4; }
.formacion_4-1-4-1 .jugador_4_3 { grid-area: 2 / 5 / 3 / 6; }
.formacion_4-1-4-1 .jugador_4_4 { grid-area: 2 / 7 / 3 / 8; }
.formacion_4-1-4-1 .jugador_5_1 { grid-area: 1 / 4 / 2 / 5; }


/*Bien formada - Comprobada*/
.formacion_4-2-1-3 .jugador_1_1 { grid-area: 5 / 4 / 6 / 5; }
.formacion_4-2-1-3 .jugador_2_1 { grid-area: 4 / 1 / 5 / 2; }
.formacion_4-2-1-3 .jugador_2_2 { grid-area: 4 / 3 / 5 / 4; }
.formacion_4-2-1-3 .jugador_2_3 { grid-area: 4 / 5 / 5 / 6; }
.formacion_4-2-1-3 .jugador_2_4 { grid-area: 4 / 7 / 5 / 8; }
.formacion_4-2-1-3 .jugador_3_1 { grid-area: 3 / 2 / 4 / 3; }
.formacion_4-2-1-3 .jugador_3_2 { grid-area: 3 / 6 / 4 / 7; }
.formacion_4-2-1-3 .jugador_4_1 { grid-area: 2 / 4 / 3 / 5; }
.formacion_4-2-1-3 .jugador_5_1 { grid-area: 1 / 2 / 2 / 3; }
.formacion_4-2-1-3 .jugador_5_2 { grid-area: 1 / 4 / 2 / 5; }
.formacion_4-2-1-3 .jugador_5_3 { grid-area: 1 / 6 / 2 / 7; }


/*Bien formada - Comprobada*/
.formacion_4-2-2-2 .jugador_1_1 { grid-area: 5 / 4 / 6 / 5; }
.formacion_4-2-2-2 .jugador_2_1 { grid-area: 4 / 1 / 5 / 2; }
.formacion_4-2-2-2 .jugador_2_2 { grid-area: 4 / 3 / 5 / 4; }
.formacion_4-2-2-2 .jugador_2_3 { grid-area: 4 / 5 / 5 / 6; }
.formacion_4-2-2-2 .jugador_2_4 { grid-area: 4 / 7 / 5 / 8; }
.formacion_4-2-2-2 .jugador_3_1 { grid-area: 3 / 3 / 4 / 4; }
.formacion_4-2-2-2 .jugador_3_2 { grid-area: 3 / 5 / 4 / 6; }
.formacion_4-2-2-2 .jugador_4_1 { grid-area: 2 / 2 / 3 / 3; }
.formacion_4-2-2-2 .jugador_4_2 { grid-area: 2 / 6 / 3 / 7; }
.formacion_4-2-2-2 .jugador_5_1 { grid-area: 1 / 3 / 2 / 4; }
.formacion_4-2-2-2 .jugador_5_2 { grid-area: 1 / 5 / 2 / 6; }


/*Bien formada - Comprobada*/
.formacion_4-2-3-1 .jugador_1_1 { grid-area: 5 / 4 / 6 / 5; }
.formacion_4-2-3-1 .jugador_2_1 { grid-area: 4 / 1 / 5 / 2; }
.formacion_4-2-3-1 .jugador_2_2 { grid-area: 4 / 3 / 5 / 4; }
.formacion_4-2-3-1 .jugador_2_3 { grid-area: 4 / 5 / 5 / 6; }
.formacion_4-2-3-1 .jugador_2_4 { grid-area: 4 / 7 / 5 / 8; }
.formacion_4-2-3-1 .jugador_3_1 { grid-area: 3 / 2 / 4 / 3; }
.formacion_4-2-3-1 .jugador_3_2 { grid-area: 3 / 6 / 4 / 7; }
.formacion_4-2-3-1 .jugador_4_1 { grid-area: 2 / 1 / 3 / 2; }
.formacion_4-2-3-1 .jugador_4_2 { grid-area: 2 / 4 / 3 / 5; }
.formacion_4-2-3-1 .jugador_4_3 { grid-area: 2 / 7 / 3 / 8; }
.formacion_4-2-3-1 .jugador_5_1 { grid-area: 1 / 4 / 2 / 5; }


/*Bien formada - Comprobada*/
.formacion_4-3-1-2 .jugador_1_1 { grid-area: 5 / 4 / 6 / 5; }
.formacion_4-3-1-2 .jugador_2_1 { grid-area: 4 / 1 / 5 / 2; }
.formacion_4-3-1-2 .jugador_2_2 { grid-area: 4 / 3 / 5 / 4; }
.formacion_4-3-1-2 .jugador_2_3 { grid-area: 4 / 5 / 5 / 6; }
.formacion_4-3-1-2 .jugador_2_4 { grid-area: 4 / 7 / 5 / 8; }
.formacion_4-3-1-2 .jugador_3_1 { grid-area: 3 / 2 / 4 / 3; }
.formacion_4-3-1-2 .jugador_3_2 { grid-area: 3 / 4 / 4 / 5; }
.formacion_4-3-1-2 .jugador_3_3 { grid-area: 3 / 6 / 4 / 7; }
.formacion_4-3-1-2 .jugador_4_1 { grid-area: 2 / 4 / 3 / 5; }
.formacion_4-3-1-2 .jugador_5_1 { grid-area: 1 / 3 / 2 / 4; }
.formacion_4-3-1-2 .jugador_5_2 { grid-area: 1 / 5 / 2 / 6; }


/*Bien formada - Comprobada*/
.formacion_4-3-2-1 .jugador_1_1 { grid-area: 5 / 4 / 6 / 5; }
.formacion_4-3-2-1 .jugador_2_1 { grid-area: 4 / 1 / 5 / 2; }
.formacion_4-3-2-1 .jugador_2_2 { grid-area: 4 / 3 / 5 / 4; }
.formacion_4-3-2-1 .jugador_2_3 { grid-area: 4 / 5 / 5 / 6; }
.formacion_4-3-2-1 .jugador_2_4 { grid-area: 4 / 7 / 5 / 8; }
.formacion_4-3-2-1 .jugador_3_1 { grid-area: 3 / 2 / 4 / 3; }
.formacion_4-3-2-1 .jugador_3_2 { grid-area: 3 / 4 / 4 / 5; }
.formacion_4-3-2-1 .jugador_3_3 { grid-area: 3 / 6 / 4 / 7; }
.formacion_4-3-2-1 .jugador_4_1 { grid-area: 2 / 3 / 3 / 4; }
.formacion_4-3-2-1 .jugador_4_2 { grid-area: 2 / 5 / 3 / 6; }
.formacion_4-3-2-1 .jugador_5_1 { grid-area: 1 / 4 / 2 / 5; }


/*Bien formada - Comprobada*/
.formacion_4-3-3 .jugador_1_1 { grid-area: 4 / 4 / 5 / 5; }
.formacion_4-3-3 .jugador_2_1 { grid-area: 3 / 1 / 4 / 2; }
.formacion_4-3-3 .jugador_2_2 { grid-area: 3 / 3 / 4 / 4; }
.formacion_4-3-3 .jugador_2_3 { grid-area: 3 / 5 / 4 / 6; }
.formacion_4-3-3 .jugador_2_4 { grid-area: 3 / 7 / 4 / 8; }
.formacion_4-3-3 .jugador_3_1 { grid-area: 2 / 2 / 3 / 3; }
.formacion_4-3-3 .jugador_3_2 { grid-area: 2 / 4 / 3 / 5; }
.formacion_4-3-3 .jugador_3_3 { grid-area: 2 / 6 / 3 / 7; }
.formacion_4-3-3 .jugador_4_1 { grid-area: 1 / 2 / 2 / 3; }
.formacion_4-3-3 .jugador_4_2 { grid-area: 1 / 4 / 2 / 5; }
.formacion_4-3-3 .jugador_4_3 { grid-area: 1 / 6 / 2 / 7; }


/*Bien formada - Comprobada*/
.formacion_4-4-1-1 .jugador_1_1 { grid-area: 5 / 4 / 6 / 5; }
.formacion_4-4-1-1 .jugador_2_1 { grid-area: 4 / 1 / 5 / 2; }
.formacion_4-4-1-1 .jugador_2_2 { grid-area: 4 / 3 / 5 / 4; }
.formacion_4-4-1-1 .jugador_2_3 { grid-area: 4 / 5 / 5 / 6; }
.formacion_4-4-1-1 .jugador_2_4 { grid-area: 4 / 7 / 5 / 8; }
.formacion_4-4-1-1 .jugador_3_1 { grid-area: 3 / 1 / 4 / 2; }
.formacion_4-4-1-1 .jugador_3_2 { grid-area: 3 / 3 / 4 / 4; }
.formacion_4-4-1-1 .jugador_3_3 { grid-area: 3 / 5 / 4 / 6; }
.formacion_4-4-1-1 .jugador_3_4 { grid-area: 3 / 7 / 4 / 8; }
.formacion_4-4-1-1 .jugador_4_1 { grid-area: 2 / 4 / 3 / 5; }
.formacion_4-4-1-1 .jugador_5_1 { grid-area: 1 / 4 / 2 / 5; }


/*Bien formada - Comprobada*/
.formacion_4-4-2 .jugador_1_1 { grid-area: 4 / 4 / 5 / 5; }
.formacion_4-4-2 .jugador_2_1 { grid-area: 3 / 1 / 4 / 2; }
.formacion_4-4-2 .jugador_2_2 { grid-area: 3 / 3 / 4 / 4; }
.formacion_4-4-2 .jugador_2_3 { grid-area: 3 / 5 / 4 / 6; }
.formacion_4-4-2 .jugador_2_4 { grid-area: 3 / 7 / 4 / 8; }
.formacion_4-4-2 .jugador_3_1 { grid-area: 2 / 1 / 3 / 2; }
.formacion_4-4-2 .jugador_3_2 { grid-area: 2 / 3 / 3 / 4; }
.formacion_4-4-2 .jugador_3_3 { grid-area: 2 / 5 / 3 / 6; }
.formacion_4-4-2 .jugador_3_4 { grid-area: 2 / 7 / 3 / 8; }
.formacion_4-4-2 .jugador_4_1 { grid-area: 1 / 3 / 2 / 4; }
.formacion_4-4-2 .jugador_4_2 { grid-area: 1 / 5 / 2 / 6; }


/*Bien formada - Comprobada*/
.formacion_4-5-1 .jugador_1_1 { grid-area: 4 / 4 / 5 / 5; }
.formacion_4-5-1 .jugador_2_1 { grid-area: 3 / 1 / 4 / 2; }
.formacion_4-5-1 .jugador_2_2 { grid-area: 3 / 3 / 4 / 4; }
.formacion_4-5-1 .jugador_2_3 { grid-area: 3 / 5 / 4 / 6; }
.formacion_4-5-1 .jugador_2_4 { grid-area: 3 / 7 / 4 / 8; }
.formacion_4-5-1 .jugador_3_1 { grid-area: 2 / 1 / 3 / 2; }
.formacion_4-5-1 .jugador_3_2 { grid-area: 2 / 3 / 3 / 4; }
.formacion_4-5-1 .jugador_3_3 { grid-area: 2 / 4 / 3 / 5; }
.formacion_4-5-1 .jugador_3_4 { grid-area: 2 / 5 / 3 / 6; }
.formacion_4-5-1 .jugador_3_5 { grid-area: 2 / 7 / 3 / 8; }
.formacion_4-5-1 .jugador_4_1 { grid-area: 1 / 4 / 2 / 5; }


/*Bien formada - Comprobada*/
.formacion_5-3-2 .jugador_1_1 { grid-area: 4 / 4 / 5 / 5; }
.formacion_5-3-2 .jugador_2_1 { grid-area: 3 / 1 / 4 / 2; }
.formacion_5-3-2 .jugador_2_2 { grid-area: 3 / 3 / 4 / 4; }
.formacion_5-3-2 .jugador_2_3 { grid-area: 3 / 4 / 4 / 5; }
.formacion_5-3-2 .jugador_2_4 { grid-area: 3 / 5 / 4 / 6; }
.formacion_5-3-2 .jugador_2_5 { grid-area: 3 / 7 / 4 / 8; }
.formacion_5-3-2 .jugador_3_1 { grid-area: 2 / 2 / 3 / 3; }
.formacion_5-3-2 .jugador_3_2 { grid-area: 2 / 4 / 3 / 5; }
.formacion_5-3-2 .jugador_3_3 { grid-area: 2 / 6 / 3 / 7; }
.formacion_5-3-2 .jugador_4_1 { grid-area: 1 / 3 / 2 / 4; }
.formacion_5-3-2 .jugador_4_2 { grid-area: 1 / 5 / 2 / 6; }


/*Bien formada - Comprobada*/
.formacion_5-4-1 .jugador_1_1 { grid-area: 4 / 4 / 5 / 5; }
.formacion_5-4-1 .jugador_2_1 { grid-area: 3 / 1 / 4 / 2; }
.formacion_5-4-1 .jugador_2_2 { grid-area: 3 / 3 / 4 / 4; }
.formacion_5-4-1 .jugador_2_3 { grid-area: 3 / 4 / 4 / 5; }
.formacion_5-4-1 .jugador_2_4 { grid-area: 3 / 5 / 4 / 6; }
.formacion_5-4-1 .jugador_2_5 { grid-area: 3 / 7 / 4 / 8; }
.formacion_5-4-1 .jugador_3_1 { grid-area: 2 / 1 / 3 / 2; }
.formacion_5-4-1 .jugador_3_2 { grid-area: 2 / 3 / 3 / 4; }
.formacion_5-4-1 .jugador_3_3 { grid-area: 2 / 5 / 3 / 6; }
.formacion_5-4-1 .jugador_3_4 { grid-area: 2 / 7 / 3 / 8; }
.formacion_5-4-1 .jugador_4_1 { grid-area: 1 / 4 / 2 / 5; }



/*
Alineaciones dsiponibles

3-1-4-2
3-4-1-2
3-4-2-1
3-4-3
3-5-1-1
3-5-2
3-6-1
4-1-2-1-2
4-1-3-1-1
4-1-3-2
4-1-4-1
4-2-1-3
4-2-2-2
4-2-3-1
4-3-1-2
4-3-2-1
4-3-3
4-4-1-1
4-4-2
4-5-1
5-3-2
5-4-1

*/
