.buscador {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.icono_busqueda {
    position: relative;
}

.buscador i {
    position: absolute;
    top: 7px;
    left: 8px;

}

.buscador input {
    box-shadow: 0 0 10px var(--primer_color);
    padding: 5px 5px 5px 30px;
    border-radius: 10px;
    color: var(--primer_color);
    min-width: 250px;
    width: 90%;
    max-width: 350px;
    margin: 0;
}

/* Estilos Tabla clasificacion */

.seccionClasificacion {
    width: 100%;
    display: flex;
    justify-content: center;
}
.seccionClasificacion table {
    display: block;
    overflow: auto;
    background-color: var(--cuarto_color);
    max-width: 90%;
    max-height: 500px;
    margin-bottom: 40px;
    text-align: center;
    border: 1px solid var(--primer_color);
    border-collapse: collapse;
}

.seccionClasificacion table thead {
    background-color: var(--primer_color);
    color: var(--cuarto_color);
    position: sticky;
    top: 0px;
    z-index: 2;
}

.seccionClasificacion table td {
    min-width: 70px;
    padding: 5px;
    border-bottom: 1px solid var(--primer_color);
}

.seccionClasificacion table tbody td:first-of-type {
    background-color: var(--cuarto_color);
    position: sticky;
    left: 0px;
}

.seccionClasificacion table td:nth-of-type(2) {
    min-width: 200px;
}

.seccionClasificacion img {
    width: 50px;
}

/* Estilos página de clasificación de competicion */

.jornadasCompeticion {
    width: 90%;
    margin-bottom: 40px;
}

.jornadasCompeticion *{
    color: var(--primer_color);
}

.ocultarjornada {
    display: none;
}

@media screen and (min-width: 450px) {

    /* Estilos página de clasificación de competicion */

    .jornadasCompeticion .enfrentamiento_equipos {
        margin: 40px 0;
    }
}
