/* Paleta de colores */

:root {
    --primer_color: #000000;
    --segundo_color: #333333;
    --tercer_color: #DDDDDD;
    --cuarto_color: #FAFAFA;
    --quinto_color: #6AFF59;
    --sexto_color: #FECA00;
    --septimo_color: #F44336;
    --octavo_color: #4CAF50;
    --noveno_color: #76AC47;
    --decimo_color: #333333FA;
}

/* Tipos de letra */

@font-face {
    font-family: 'bebas_neue';
    src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: 'manrope_regular';
    src: url("../fonts/Manrope-Regular.ttf");
}

/* Estilos genericos de la página */

html {
    min-width: 280px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'manrope_regular', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

article {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    border: 1px solid var(--cuarto_color);
    border-radius: 10px;
}

.icono_estrella {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 15pt;
    color: var(--sexto_color);
}

.seccion_negra {
    background-color: #333333;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    min-width: 250px;
    margin-bottom: 40px;
    margin: 0 auto 20px auto;
}

a {
    text-decoration: none;
}

.conjunto_botones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boton_gris {
    background-color: var(--tercer_color);
    color: var(--primer_color);
    font-weight: bold;
    box-shadow: 0 0 10px var(--primer_color);
    margin: 10px;
    padding: 10px ;
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

/* Estilo del scroll */

::-webkit-scrollbar {
    width: 8px; /* Ancho del scroll */
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--tercer_color); /* Color de fondo del scroll*/
    border-radius: 5px;
}

::-webkit-scrollbar-thumb { /* barra de scroll*/
    background-color: var(--primer_color);  /* Color de la barra de scroll*/
    border-radius: 5px;
}

/* Estilos de móvil */
/* Estilos del header */

header {
    background-color: var(--segundo_color);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
}

header a span {
    font-family: 'bebas_neue', sans-serif;
    letter-spacing: 2px;
    font-size: 15pt;
}

header a {
    color: var(--cuarto_color);
    display: flex;
    align-items: center;
}

header a img {
    width: 50px;
    margin: 5px;
}

header .menu_hamburguesa {
    cursor: pointer;
    display: block;
}

header .menu_hamburguesa hr {
    width: 35px;
    border: 3px solid var(--cuarto_color);
    border-radius: 5px;
    margin: 5px;
    transition: 0.5s all;
}

header .menu_ordenador {
    margin: 5px;
    display: none;
}

header .menu_ordenador a {
    margin: 5px;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 10pt;
    color: #000000;
}

header .menu_ordenador a:first-of-type {
    background-color: var(--quinto_color);
}

header .menu_ordenador a:last-of-type {
    background-color: var(--tercer_color);
}

.menu_activado hr:nth-of-type(1) {
    transform: translateY(11px) rotateZ(45deg);

}

.menu_activado hr:nth-of-type(2) {
    opacity: 0;
}

.menu_activado hr:nth-of-type(3) {
    transform: translateY(-11px) rotateZ(-45deg);
}

/* Estilos del nav */

nav {
    min-width: 280px;
    width: 100%;
    background-color: var(--decimo_color);
    padding: 20px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-100%);
    z-index: 1;
    position: absolute;
    transition: 0.5s all;
}

nav a {
    text-decoration: underline;
    color: var(--cuarto_color);
    font-weight: bold;
    letter-spacing: 2px;
    margin: 5px;
    font-size: 12pt;
    transition: 0.5s all;
}

nav a:hover {
    letter-spacing: 4px;
}

.mostrar_nav {
    transform: translateY(0);
}

.vista_ordenador {
    display: block;
}

/* Titulos de secciones o páginas */

.titulo_pagina {
    font-family: 'bebas_neue', sans-serif;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 22pt;
    padding: 30px;
    text-align: center;
}

.titulo_informacion {
    color: var(--cuarto_color);
    text-align: center;
    padding: 10px;
}

/* Tabla de datos o estadísticas */

.tabla_datos {
    width: 90%;
    background-color: var(--cuarto_color);
    margin: 10px auto;
    border-collapse: collapse;
    font-size: 10pt;
    text-align: center;
    
}

.tabla_datos thead th {
    background-color: var(--tercer_color);
    padding: 5px;
    border: 2px solid var(--primer_color);
}

.tabla_datos td {
    padding: 5px;
    border: 2px solid var(--primer_color);
}

.tabla_datos tbody td:first-of-type {
    background-color: var(--tercer_color);
}











/* Estilos de ordenador */

@media screen and (min-width: 450px) {

    /* Estilos del header */

    header .menu_ordenador {
        display: flex;
    }

    header .menu_hamburguesa {
        display: none;
    }

    /* Estilos del nav */

    nav {
        flex-direction: row;
        justify-content: center;
        background-color: var(--tercer_color);
        flex-wrap: wrap;
        position: relative;
        transform: translateY(0);
    }

    nav a {
        background-color: var(--segundo_color);
        padding: 10px;
        transform: skew(-30deg);
        margin: 5px 10px;
        box-shadow: 0 0 5px black;
        font-size: 10pt;
    }

    nav a:hover {
        letter-spacing: 2px;
        background-color: var(--cuarto_color);
        color: var(--segundo_color);
    }

    nav span {
        text-decoration: none;
        display: inline-block;
        transform: skew(30deg);
        width: 130px;
        text-align: center;
    }

    .vista_ordenador {
        display: none;
    }
}