/* Paleta de colores */

:root {
    --primer_color: #000000;
    --segundo_color: #333333;
    --tercer_color: #DDDDDD;
    --cuarto_color: #FAFAFA;
    --quinto_color: #6AFF59;
    --sexto_color: #FECA00;
    --septimo_color: #F44336;
    --octavo_color: #4CAF50;
    --noveno_color: #76AC47;
    --decimo_color: #333333FA;
}

/* Tipos de letra */

@font-face {
    font-family: 'bebas_neue';
    src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: 'manrope_regular';
    src: url("../fonts/Manrope-Regular.ttf");
}

/* Estilos genericos de la página */

html {
    min-width: 280px;
    background-color: var(--cuarto_color);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'manrope_regular', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    border: 1px solid var(--cuarto_color);
    border-radius: 10px;
}

input {
    color: var(--primer_color);
    border-radius: 10px;
    font-size: 12pt;
    padding: 5px;
    margin-bottom: 15px;
    width: 200px;
}

.icono_estrella {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 15pt;
    color: var(--tercer_color);
    cursor: pointer;
}

.favorito {
    color: var(--sexto_color);
}

.seccion_negra {
    background-color: #333333;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    min-width: 250px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

/* Botones */

.boton_verde, .seleccionar_foto, .seleccionar_pais, .boton_rojo {
    background-color: var(--quinto_color);
    color: var(--primer_color);
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 0 10px var(--primer_color);
    margin: 10px;
    padding: 10px ;
    width: 150px;
    cursor: pointer;
}

.boton_rojo {
    background-color: var(--septimo_color);
    color: var(--cuarto_color);
    width: 100px;
}

.conjunto_botones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boton_gris {
    background-color: var(--tercer_color);
    color: var(--primer_color);
    font-weight: bold;
    box-shadow: 0 0 10px var(--primer_color);
    margin: 10px;
    padding: 10px ;
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.seleccionar, .formacion {
    color: var(--primer_color);
    font-weight: bold;
    box-shadow: 0 0 10px var(--primer_color);
    margin: 10px;
    padding: 10px ;
    cursor: pointer;
    background-color: var(--cuarto_color);
    border-radius: 10px;
    min-width: 230px;
    width: 90%;
    max-width: 300px;
}

.boton_enviar {
    background-color: var(--primer_color);
    color: var(--cuarto_color);
    font-weight: bold;
    box-shadow: 0 0 10px var(--primer_color);
    width: 100px;
    padding: 5px 30px;
    margin: 20px auto;
    display: block;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

/* Estilo del scroll */

::-webkit-scrollbar {
    width: 8px; /* Ancho del scroll */
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--tercer_color); /* Color de fondo del scroll*/
    border-radius: 5px;
}

::-webkit-scrollbar-thumb { /* barra de scroll*/
    background-color: var(--primer_color);  /* Color de la barra de scroll*/
    border-radius: 5px;
}

/* Estilos de móvil */
/* Estilos del header */

header {
    background-color: var(--segundo_color);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
}

header a span {
    font-family: 'bebas_neue', sans-serif;
    letter-spacing: 2px;
    font-size: 15pt;
}

header a {
    color: var(--cuarto_color);
    display: flex;
    align-items: center;
}

header a img {
    width: 50px;
    margin: 5px;
}

header .menu_hamburguesa {
    cursor: pointer;
    display: block;
}

header .menu_hamburguesa hr {
    width: 35px;
    border: 3px solid var(--cuarto_color);
    border-radius: 5px;
    margin: 5px;
    transition: 0.5s all;
}

header .menu_ordenador {
    margin: 5px;
    display: none;
}

header .menu_ordenador a {
    margin: 5px;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 10pt;
    color: #000000;
}

header .menu_ordenador a:first-of-type {
    background-color: var(--quinto_color);
}

header .menu_ordenador a:last-of-type {
    background-color: var(--tercer_color);
}

.menu_activado hr:nth-of-type(1) {
    transform: translateY(11px) rotateZ(45deg);

}

.menu_activado hr:nth-of-type(2) {
    opacity: 0;
}

.menu_activado hr:nth-of-type(3) {
    transform: translateY(-10px) rotateZ(-45deg);
}

/* Estilos del nav */

nav {
    min-width: 280px;
    width: 100%;
    background-color: var(--decimo_color);
    padding: 20px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-100%);
    z-index: 1;
    position: absolute;
    transition: 0.5s all;
}

nav a {
    text-decoration: underline;
    color: var(--cuarto_color);
    font-weight: bold;
    letter-spacing: 2px;
    margin: 5px;
    font-size: 12pt;
    transition: 0.5s all;
}

nav a:hover {
    letter-spacing: 4px;
}

.mostrar_nav {
    transform: translateY(0);
}

.vista_ordenador {
    display: block;
}

/* Titulos de secciones o páginas */

.titulo_pagina {
    font-family: 'bebas_neue', sans-serif;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 22pt;
    padding: 30px;
    text-align: center;
}

.titulo_informacion {
    color: var(--cuarto_color);
    text-align: center;
    padding: 10px;
}

.titulo_seccion {
    color: var(--primer_color);
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

/* Diseños de secciones de apartados de una sección*/

.seccion_negra .boton_gris {
    font-size: 10pt;
    padding: 5px 10px;
    transition: 0.5s all;
}

.seccion_negra .boton_gris:hover {
    background-color: var(--cuarto_color);
}

/* Tabla de datos o estadísticas */

.tabla_datos {
    width: 90%;
    background-color: var(--cuarto_color);
    margin: 10px auto;
    border-collapse: collapse;
    font-size: 10pt;
    text-align: center;
}

.tabla_datos thead th {
    background-color: var(--tercer_color);
    padding: 10px;
    border: 2px solid var(--primer_color);
}

.tabla_datos td {
    padding: 10px;
    border: 2px solid var(--primer_color);
    min-width: 100px;
}

.tabla_datos tbody td:first-of-type {
    background-color: var(--tercer_color);
}

/* Estilo de competición o equipo*/

.competicion_equipo {
    position: relative;
    padding-bottom: 10px;
}

.competicion_equipo * {
    transition: 0.5s all;
}

.competicion_equipo a {
    display: flex;
    align-items: center;
    color: var(--cuarto_color);
    font-weight: bold;
    font-size: 12pt;
}

.competicion_equipo span {
    margin-left: 10px;
    width: 60%;
}

.competicion_equipo img {
    width: 50px;
}

/* Estilos mostrar equipos/competiciones */

.equipos_competiciones {
    width: 80%;
    margin: 20px 0;
    overflow: auto;
}

.equipos_competiciones div {
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: relative;
    border-bottom: 2px solid var(--cuarto_color);
}

.equipos_competiciones div p {
    color: var(--primer_color);
    font-weight: bold;
    padding: 10px 0 10px 10px;
    width: 60%;
    font-size: 10pt;
}

.equipos_competiciones div img {
    width: 50px;
}

/* Estilos página de fichajes*/

.seccion_negra_fichajes .boton_enviar {
    background-color: var(--tercer_color);
    color: var(--primer_color);
}

/* Estilos página de fichajes */

.fichajes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fichajes > div {
    box-shadow: 0 0 10px var(--primer_color);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 550px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.datos_fichaje {
    text-align: center;
    font-weight: bold;
    font-size: 15pt;
}

.datos_fichaje a{ 
    text-decoration: none;
    color: var(--primer_color);
}

.datos_fichaje hr {
    margin: 10px;
    border: 1px solid var(--segundo_color);
}

.fichaje_equipos {
    display: flex;
    margin: 20px 0;
    max-width: 100%;
}

.fichaje_equipos  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.equipo_fichaje {
    margin: 10px;
    width: 30%;
}

.equipo_fichaje a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--primer_color);
    text-align: center;
}

.equipo_fichaje img {
    width: 40px;
}

.equipo_fichaje p {
    font-size: 10pt;
}

.tipo_fichaje {
    width: 30%;
}

.tipo_fichaje i {
    font-size: 15pt;
    margin-top: 10px;
}


/* Página de equipo plantilla */

.equipo_plantilla {
    display: block;
    width: 80%;
    overflow-x: auto;
}

.equipo_plantilla > div:first-of-type {
    background-color: var(--primer_color);
    color: var(--cuarto_color);
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 5px;
}

.equipo_plantilla > div, .equipo_plantilla a > div{
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid var(--tercer_color);
}

.equipo_plantilla div img {
    width: 70px;
}


/* Estadísticas del equipo */

.estadisticas_equipo th:first-of-type {
    background-color: var(--cuarto_color);
    border-top: 0;
    border-left:0;
}

/*Tabla de goles por minutos*/

.estadisticas_equipo_goles, .estadisticas_equipo_datos {
    margin-top: 40px;
}
.estadisticas_equipo_goles tr td:first-of-type, .tabla_trofeos tr td:first-of-type {
    background-color: var(--cuarto_color);
}


/* Tabla página de trofeos */

.tabla_trofeos thead tr:nth-of-type(2) {
    font-weight: bold;
}

/* PopUp de aviso de borrado*/

.bloquearPagina {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--decimo_color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.mensajeBorrado {
    background-color: var(--tercer_color);
    box-shadow: 0 0 10px var(--cuarto_color);
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    font-weight: bold;
    text-align: center;
}

/* Estilos círculo cargando */

.cargando {
    border: 4px solid var(--primer_color);
    border-left-color: var(--quinto_color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: circulo 1s linear infinite;
}

@keyframes circulo {

    0% {
    transform: rotate(0deg);
    }
    
    100% {
    transform: rotate(360deg);
    }

}


















/* Estilos de ordenador */

@media screen and (min-width: 450px) {

    /* Estilos del header */

    header .menu_ordenador {
        display: flex;
        align-items: center;
    }

    header .menu_ordenador img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    header .menu_hamburguesa {
        display: none;
    }

    /* Estilos del nav */

    nav {
        flex-direction: row;
        justify-content: center;
        background-color: var(--tercer_color);
        flex-wrap: wrap;
        position: relative;
        transform: translateY(0);
    }

    nav a {
        background-color: var(--segundo_color);
        padding: 10px;
        transform: skew(-30deg);
        margin: 5px 10px;
        box-shadow: 0 0 5px black;
        font-size: 10pt;
    }

    nav a:hover {
        letter-spacing: 2px;
        background-color: var(--cuarto_color);
        color: var(--segundo_color);
    }

    nav span {
        text-decoration: none;
        display: inline-block;
        transform: skew(30deg);
        width: 130px;
        text-align: center;
    }

    .vista_ordenador {
        display: none;
    }

    /* Botones seccion negra */

    .conjunto_botones {
        margin: 20px;
    }

    hr ~ .conjunto_botones {
        margin-bottom: 0;
    }

    .conjunto_botones a {
        transform: skew(-30deg);
        border-radius: 0;
    }

    .conjunto_botones span {
        display: inline-block;
        transform: skew(30deg);
        
    }

    .competicion_equipo a {
        font-size: 15pt;
    }

    .competicion_equipo img {
        width: 80px;
    }

    /* Estilos mostrar equipos/competiciones */
    .equipos_competiciones div p {
        font-size: 15pt;
    }

    /* Estilos fichajes*/
    .fichajes > div {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .fichaje_equipos {
        margin: 0;
    }

    .equipo_fichaje img {
        width: 70px;
    }

    .equipo_fichaje p {
        font-size: 14pt;
    }

    .tipo_fichaje i {
        font-size: 20pt;
    }
}